
@{
    Layout = null;
}

<!DOCTYPE html>

@model OkulPano.Models.ViewModels.OkulViewModel

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap | Okul Pano </title>
    <link rel="stylesheet" href="~/Html/Giriş/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <section class="login">
        <div class="login_box">
            <div class="left">
                <div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Ana Sayfa</a></div>
                <div class="contact">


                    @using (Html.BeginForm("Login", "Giriş", FormMethod.Post))
                    {
                        <h3>Giriş Yap</h3>
                        <input type="text" placeholder="E Posta" name="Mail">
                        <input type="text" placeholder="Şifre" name="Şifre">
                        <input type="submit" value="Giriş Yap" />
                    }
                </div>
            </div>
            <div class="right">
                <div class="right-text">
                    <h2>Web Tabanlı Okul Pano Yazılımı</h2>
                    <h5>Giriş-Kayıt Sistemi</h5>
                </div>
              
              
            </div>
            <div class="left">

                <div class="contact">
                    @using (Html.BeginForm("Register", "Giriş", FormMethod.Post))
                    {
                        <h5>Kayıt</h5>
                        @Html.TextBoxFor(x => x.Okul.Ad, new { @placeholder = "Selam" });
                        @Html.TextBoxFor(x => x.Okul.Mail, new { @placeholder = "Güvenlik Kodu" });
                        @Html.TextBoxFor(x => x.Okul.Adres, new { @placeholder = "Güvenlik Kodu" });
                        @Html.TextBoxFor(x => x.Okul.Web, new { @placeholder = "Güvenlik Kodu" });
                        @Html.TextBoxFor(x => x.Okul.MüdürAd, new { @placeholder = "Güvenlik Kodu" });
                        @Html.TextBoxFor(x => x.Okul.MüdürSoyad, new { @placeholder = "Güvenlik Kodu" });
                        @Html.TextBoxFor(x => x.Okul.Şifre, new { @placeholder = "Güvenlik Kodu" });
                        <img src="@Url.Action("ResimGönder","Giriş")" />
                        @Html.TextBoxFor(x => x.Guvenlik, new { @placeholder = "Güvenlik Kodu" });
                        <a href="@Url.Action("ResimGönder","Giriş",new { @class = "submit2" })">KSFHJALJ</a>
                        <button class="submit2" placeholder="Kayıt Ol">Kayıt Ol</button>
                    }
                </div>
            </div>
        </div>
    </section>
</body>
</html>
